[user]
    name = Rui Coelho

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal

[core]
    pager = delta

[delta]
    navigate = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only
