[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[core]
    pager = delta

[delta]
    navigate = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only

[user]
    name = Rui Coelho

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal

[hook "gitleaks"]
    event = pre-commit
    command = gitleaks protect --staged --redact
